/* #region globals  */
body {
  background-color: black;
  font-family: manrope, sans-serif;
  color: white; /*midlertidig value indtil jeg finder ud af gradienten */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  margin-left: 1rem;
}

h2 {
  color: #c58fff;
}

h3,
h4 {
  color: #81d8dd;
}

hgroup {
  margin-left: 1rem;
}

article p {
  margin-left: 1rem;
}

p {
  color: #81afdd;
}

figure {
  margin-left: 1rem;
}
/* #endregion  */

/* #region globalheader  */

#global-header {
  background-color: #ffffff22;
  display: grid;
  grid-template-columns: 1fr;
}

#global-header hgroup {
  margin-bottom: 2rem;
  order: 2;
}

#global-header hgroup h1 {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colors 2s ease-in-out infinite alternate;
  background-size: 500% auto;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

#global-header hgroup form {
  height: 2rem;
  display: flex;
}

#global-header hgroup form input,
#global-header hgroup form button {
  display: inline-block;
  margin: 0rem;
  width: 50%;
}

#global-header hgroup form input {
  background-color: #052d56;
  border: none;
}

#global-header hgroup form input:placeholder {
  color: #81afdd;
}

#global-header hgroup form button {
  font-family: manrope;
  background-color: #ff8a71;
  border: none;
}

#global-header div {
  width: 100%;
  height: 100%;
}
#global-header div figure {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* #region nav */

nav {
  color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

nav ul {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

nav ul:first-of-type li:first-of-type {
  color: #4aaacc;
}

nav ul:last-of-type li:last-of-type {
  background-color: #ff8a71;
}

/* #endregion */

/* #region one  */

#one figure {
  margin-left: 0rem;
}
#one article p,
#one article header {
  margin-left: 0rem;
}
/* #endregion */

/* #region two */

#two figure {
  display: flex;
  flex-direction: column;
}

#two figure figcaption {
  position: relative;
}

#two figure figcaption footer {
  position: absolute;
  bottom: 0;
  right: 1rem;
  margin-top: 1rem;
}

#two figure,
#two figure p {
  margin-left: 0rem;
}

#two figure img {
  width: 100%;
}
/* #endregion  */

/* #region three */

#gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

#gallery-grid img {
  width: 100%;
}

/* #endregion */

/* #region mediaqueries */

/* #region screen */

@media screen and (min-width: 1300px) {
  nav {
    flex-direction: row;
  }

  nav ul {
    flex-direction: row;
  }
  .logo {
    display: none;
  }
  #global-header {
    grid-template-columns: 1fr 1fr;
  }
  #global-header hgroup {
    order: 1;
  }
}
/* #endregion */

/* #region tablet */

@media screen and (min-width: 769px) and (max-width: 1299px) {
  nav {
    flex-direction: row;
  }
  nav ul {
    flex-direction: row;
  }
}

/* #endregion */

/* #endregion */
